#%RAML 1.0
title: Payment Instruction Process API
version: v1
baseUri: https://api.hela-pay.ao/process/{version}
mediaType: application/json

uses:
  Security: Security/Hela_Pay_Security.raml

description: |
  Process API que orquestra a Control Record (CR) do Service Domain
  Payment Instruction, coordenando internamente os seguintes Service
  Domains BIAN durante o ciclo de vida da transferência:

    - Product Directory     -> Retrieve do limite diário (RF-009)
    - Payment Order         -> Control/Evaluate: alerta de limite
                                excedido (RF-012)
    - Fraud Resolution      -> Register: alerta de frequência
                                anómala (RF-013)
    - Transaction Authorization -> Grant: autorização de débito
                                (RF-004)
    - Current Account       -> Retrieve: validação de saldo
    - Payment Execution     -> Request: execução do crédito/débito
                                e reversão automática (RF-005/007)
    - Compliance Reporting  -> Register/Retrieve: registo de
                                auditoria (RF-006/014, correspondência
                                indireta)

  Nenhum destes Service Domains é exposto como recurso próprio nesta
  API — são consultados/atualizados internamente. O único recurso
  exposto ao consumidor é o Control Record da Payment Instruction.

  Atributos alinhados ao standard IFX onde existe correspondência
  direta ou aproximada (xferId, fromAccRef, curAmt, XferStatus).
  Onde não existe correspondência no IFX, mantém-se a nomenclatura
  original do modelo conceitual (telefoneDestino, idRegisto,
  dataHoraRegisto, motivoDeteccao, chave de idempotência).

/payment-instruction:
  displayName: Payment Instruction - Initiate

  post:
    displayName: Initiate
    description: |
      RF-001/RF-002: Inicia a transferência. Antes de criar o CR,
      consulta o Product Directory (Retrieve do limite diário,
      RF-012). Se excedido, aciona Payment Order (alerta RF-012) e
      devolve 422. Em paralelo, avalia padrão de frequência via
      Fraud Resolution (RF-013); se anómalo, sinaliza para revisão
      sem bloquear necessariamente a transferência.
    headers:
      Idempotency-Key:
        type: string
        required: true
    body:
      application/json:
        type: PaymentInstructionCreateRequest
        example:
         origemSistema: BANCO
         fromAccRef: "AO06004400001234567890123"
         telefoneDestino: "923456789"
         curAmt: 15000.00
    responses:
      201:
        body:
          application/json:
            type: PaymentInstruction
      400:
        body:
          application/json:
            type: Erro
      409:
        description: Chave de idempotência já utilizada.
        body:
          application/json:
            type: Erro
      422:
        description: Transferência rejeitada por regra de negócio.
        body:
          application/json:
           type: Erro
           examples:
            limiteExcedido:
             codigo: "LIMITE_EXCEDIDO"
             mensagem: "Limite diário de transferência excedido."
            fraudeDetetada:
              codigo: "FRAUDE_DETETADA"
              mensagem: "Transferência bloqueada por deteção de fraude."

  /{crReferenceId}:
    uriParameters:
      crReferenceId:
        type: CRReferenceId

    get:
      displayName: Retrieve
      description: |
        RF-011: Consulta o estado atual do Control Record.
      responses:
        200:
          body:
            application/json:
              type: PaymentInstruction
        404:
          body:
            application/json:
              type: Erro

    /execution-request:
      post:
        displayName: Request
        description: |
          RF-004/RF-005/RF-006/RF-007: Solicita a execução da transferência.
          Internamente, a Process API:
          1. solicita a validação do saldo e a autorização do cliente no sistema de origem;
          2. verifica o limite diário aplicável;
          3. solicita o débito na conta/wallet de origem;
          4. após confirmação do débito, solicita o crédito na conta/wallet de destino;
          5. caso o crédito não seja confirmado dentro do SLA definido, solicita a reversão do débito.
          Em caso de sucesso do crédito, a Process API atualiza o estado
          da transferência para COMPLETED.
        headers:
          Idempotency-Key:
            type: string
            required: true
        responses:
          200:
            body:
              application/json:
                type: PaymentInstruction
          404:
            body:
              application/json:
                type: Erro
          422:
            description: Autorização de débito negada ou saldo insuficiente.
            body:
              application/json:
                type: Erro

    /audit-log:
      get:
        displayName: Retrieve
        description: |
          RF-014: Consulta o histórico de estados do CR
          (timestamps, motivo em caso de falha/reversão/alerta).
          Corresponde a uma consulta ao Compliance Reporting
          (correspondência indireta — este SD consolida os registos,
          mas não é o dono direto do audit trail por transferência).
        responses:
          200:
            body:
              application/json:
                type: AuditLogEntry[]
          404:
            body:
              application/json:
                type: Erro